<launch>

  <!--meshDirectory:=$(find manipulator_test)/model/meshes/-->
  <arg name="model" default="$(find manipulator_test)/model/franka_panda_rviz.urdf meshVisualDirectory:=$(find manipulator_test)/model/meshes/visual/ meshCollisionDirectory:=$(find manipulator_test)/model/meshes/collision/" />
  <arg name="gui" default="true" />
  <arg name="rvizconfig" default="$(find manipulator_test)/rviz/franka_panda.rviz" />

  <param name="robot_description" command="$(find xacro)/xacro $(arg model)" />

  <node if="$(arg gui)" name="joint_state_publisher" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" />
  <node unless="$(arg gui)" name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true" />
  <!-- <node name="rviz" pkg="rviz" type="rviz" /> -->

</launch>